<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="boni.sample.java">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 디바이스가 활성화 되지 않았을 때(켜져 있지 않았을 때) 화면을 활성화 시켜주는 옵 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 카메라 제어 위한 권한 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- NFC -->
    <uses-permission android:name="android.permission.NFC" /> <!-- 통신권한 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 통신 상태 체크 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 통신 상태 체크 권한 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 파일 쓰기 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 파일 읽기 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 프로세스 종료 권한, 강력하게 종료하기 위해서 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" /> <!-- Vibrator 사용 권한 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 알림 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="boni.sample.kotlin.library.paging.PagingActivity"></activity>
        <activity android:name=".library.PagingActivity"></activity>
        <activity android:name=".Calendar.CalendarViewActivity" />
        <activity android:name=".DateTime.DateTimeActivity" />
        <activity android:name=".AsyncTask.ActivityAsyncTask" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden"> <!-- Editext 초기실행시 자판 숨기기 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cardview.CardViewActivity" />
        <activity android:name=".layout.JavaLayoutActivity" />
        <activity android:name=".list.ListActivity" />
        <activity android:name=".event.EventBasicActivity" />
        <activity android:name=".event.MotionEventActivity" />
        <activity android:name=".receiver.ReceiverActivity" />
        <activity android:name=".receiver.NetworkReceiverActivity" />
        <activity android:name=".dialog.DialogBasicActivity" />
        <activity android:name=".dialog.CustomDialogActivity" />
        <activity android:name=".login.SaveLoginActivity" />
        <activity android:name=".login.SaveLoginNextActivity" />
        <activity android:name=".list.LvItemSelectActivity" />
        <activity android:name=".fragment.FragmentActivity" />
        <activity android:name=".list.ListFragmentActivity" />
        <activity android:name=".viewpager.ViewPagerActivity" />
        <activity android:name=".list.ExpandableActivity" />
        <activity android:name=".list.MultiplyViewActivity" />
        <activity android:name=".changebg.ChangeBgActivity" />
        <activity android:name=".layout.ScrollViewActivity" />
        <activity android:name=".filter.FilterActivity" />
        <activity android:name=".autocomplete.AutoCompleteActivity" />
        <activity android:name=".viewpager.ClickableVpActivity" />
        <activity android:name=".dialog.DateCustomDialogActivity" />
        <activity android:name=".dialog.TempActivity" />
        <activity android:name=".service.FCMActivity" />
        <activity android:name=".picker.NumberPickerActivity" /> <!-- <service android:name=".NotificationService.FirebaseMessagingService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <!-- <service android:name=".NotificationService.FirebaseInstanceIDService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <activity android:name=".service.NoServerNotifiActivity" />
        <activity android:name=".service.ServiceBindActivity" />

        <service android:name=".service.MyService" />

        <activity android:name=".gridview.ActivityGridView" />
        <activity android:name=".camera.ActivityTakePicture" />
        <activity android:name=".picker.ActivityCustomPicker" />
        <activity android:name=".dialog.ActivityPopupColum" />
        <activity android:name=".splash.SplashActivity" />
        <activity android:name=".TreeView.TreeViewActivity" />
        <activity android:name=".TreeView.TreeView2Activity" />
        <activity android:name=".TreeView.SingleFragmentActivity" />
    </application>

</manifest>